<!DOCTYPE html>
<html>
  <head>
    <title>FC Kontu P11 - Omat treenit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
